@import 'font-awesome.min.css';
@import 'header.css';
@import 'footer.css';

html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	color: #7C868D !important;
	font-family: sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: none;
	background-color: #FFF;
}

hr {
	width: 60%;
	height: 1px;
	margin: 0px auto;
	background-color: #17A697;
}

h1 {
	color: #638CA6;
	font-weight: 700;
}

sup {
	font-size: 70%;
}html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	color: #7C868D !important;
	font-family: sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: none;
	background-color: #FFF;
}

hr {
	width: 60%;
	height: 1px;
	margin: 0px auto;
	background-color: #17A697;
}

h1 {
	color: #638CA6;
	font-weight: 700;
}

sup {
	font-size: 70%;
}
